- if @language.errors.size > 0
  %h2 The following errors were found:

  - for error in @language.errors.full_messages
    %ul
      %li= error

%dl
  %dt= f.label :name
  %dd= f.text_field :name, autofocus: true

  %dt= f.label :abbreviation
  %dd= f.text_field :abbreviation
  %br
  = f.submit 'Cadastrar', class: 'button'
  
  = link_to 'Deletar', language_destroy_path(@language), method: :delete, confirm: 'Tem certeza?', class: 'button delete' unless @language.new_record?