= render 'shared/error_messages', record: @language

%dl
  %dt= f.label :name
  %dd= f.text_field :name, autofocus: true, required: true

  %dt= f.label :code
  %dd= f.text_field :code, required: true

  = link_to t('links.language.reference'), 'https://github.com/svenfuchs/rails-i18n/tree/master/rails/locale', target: '_blank', class: 'link'

= f.submit t('links.save'), class: 'button'

= link_to t('links.delete'), language_destroy_path(@language), method: :delete, confirm: t('links.confirm'), class: 'button delete' unless @language.new_record?

= javascript_tag 'new Language()'