#wrap
  %p.title
    = t('activerecord.attributes.game_translator/language.name')
    = ": #{ truncate language.name, length: 20 }"
  %p.title
    = t('activerecord.attributes.game_translator/language.code')
    = ": #{ language.code }"

  %div= flag(language.code)

  = link_to t('links.edit'), language_edit_path(language), class: 'link'
  = link_to t('links.delete'), language_destroy_path(language), method: :delete, confirm: t('links.confirm'), class: 'link'