%h1
  %span Idiomas cadastrados

%h3 
  = link_to 'Novo idioma', language_new_path

- unless @languages.blank?
  - @languages.each do |language|
    #wrap
      %p= "Nome: #{ language.name }"
      %p= "Sigla: #{ language.code }"
      = flag(language.code)
      %br
      %br
      = link_to 'Editar', language_edit_path(language.id)
      = link_to 'Deletar', language_destroy_path(language.id), method: :delete, confirm: 'Tem certeza?'