#games
  .alert
    = t('titles.game.alert')

  %fieldset
    = render 'shared/translation_form', f: f, language: :"pt-BR", translation: @game, disabled: true, parse_instructions: false, required: false

    - @languages.each do |language|
      = render 'shared/translation_form', f: f, language: language, translation: @game, disabled: false, parse_instructions: true, required: true

  = submit_tag t('links.game.translate'), class: 'button'

  = javascript_tag 'new Game()'