#games
  - @games.each do |game|
    = fields_for 'game[]', game do |game_fields|
      %fieldset
        %dl
          .flag
            = flag('br')
            %p= 'Português'

          %dt Nome
          %dd.name
            = game_fields.text_field :name, disabled: true, data: { game: game.id }

          %dt Descrição Curta
          %dd= game_fields.text_field :short_description, disabled: true

          %dt Descrição Longa
          %dd= game_fields.text_area :long_description, disabled: true

          - if game.wide_description.present?
            %dt Descrição Wide
            %dd= game_fields.text_area :wide_description, disabled: true

          %dt Instruções
          %dd= game_fields.text_area :instructions, disabled: true, class: 'instructions br'
          
        - @languages.each do |language|
          %dl
            .flag
              = flag(language.code)
              %p= "Traduzir para #{ language.name }" 
            
            %dt Nome
            %dd= game_fields.text_field "name_#{ language.code }".to_sym

            %dt Descrição Curta
            %dd= game_fields.text_field "short_description_#{ language.code }".to_sym

            %dt Descrição Longa
            %dd= game_fields.text_area "long_description_#{ language.code }".to_sym

            - if game.wide_description.present?
              %dt Descrição Wide
              %dd= game_fields.text_area "wide_description_#{ language.code }".to_sym

            %dd.instructions
              %dl
                %dt
                  Instruções
                %dt
                  = instruction_icons.html_safe
                = game_fields.text_area "instructions_#{ language.code }".to_sym

  = submit_tag 'Traduzir!', class: 'button'

  = javascript_tag 'var game = new Game(); new Idle()'