#games
  .alert
    Preencha todos os campos!

  - @games.each do |game|
    = fields_for 'game[]', game do |game_fields|
      %fieldset
        = render 'shared/translation_form', f: game_fields, language: :"pt-BR", translation: game, disabled: true, parse_instructions: false, required: false

        - @languages.each do |language|
          = render 'shared/translation_form', f: game_fields, language: language.code, translation: game, disabled: false, parse_instructions: true, required: true

  = submit_tag 'Traduzir!', class: 'button'

  = javascript_tag 'new Game()'