#games
  - @games.each do |game|
    = fields_for 'game[]', game do |game_fields|
      %fieldset
        %dl
          %dt= 'Português'

          %dt= game_fields.label :name
          %dd= game_fields.text_field :name, size: 50, disabled: true

          %dt= game_fields.label :short_description
          %dd= game_fields.text_field :short_description, size: 40, disabled: true

          %dt= game_fields.label :long_description
          %dd= game_fields.text_area :long_description, rows: 8, cols: 50, disabled: true

          - if game.wide_description.present?
            %dt= game_fields.label :wide_description
            %dd= game_fields.text_field :wide_description, size: 65, disabled: true

          %dt= game_fields.label :instructions
          %dd= game_fields.text_area :instructions, rows: 6, cols: 50, disabled: true

          = game_fields.hidden_field :user_id, value: current_user.id
          
        - @languages.each do |language|
          %dl
            %dt= "Traduzir para #{ language }"

            %dt= game_fields.label "name_#{ language }".to_sym
            %dd= game_fields.text_field "name_#{ language }".to_sym, size: 50

            %dt= game_fields.label "short_description_#{ language }".to_sym
            %dd= game_fields.text_field "short_description_#{ language }".to_sym, size: 40

            %dt= game_fields.label "long_description_#{ language }".to_sym
            %dd= game_fields.text_area "long_description_#{ language }".to_sym, rows: 8, cols: 50

            - if game.wide_description.present?
              %dt= game_fields.label "wide_description_#{ language }".to_sym
              %dd= game_fields.text_field "wide_description_#{ language }".to_sym, size: 65

            %dt= game_fields.label "instructions_#{ language }".to_sym
            %dd= game_fields.text_area "instructions_#{ language }".to_sym, rows: 6, cols: 50

  = submit_tag 'Traduzir!', class: 'button'

= content_for(:javascript) do
  = javascript_tag 'new Game()'