%h1= t('titles.stat.all')

%h1= t('titles.stat.games.total', count: number_with_delimiter(@total) )
%h1= t('titles.stat.games.translated', count: number_with_delimiter(@translated) )
%h1= t('titles.stat.translations.revised', count: number_with_delimiter(@revised) )
%h1= t('titles.stat.games.percentage', percentage: @percentage)
%h1= t('titles.stat.greatest_translator', user: @greatest_translator.name, count: @count_translations)
%br
%p.title= link_to t('titles.stat.user'), stats_users_index_path, class: 'link'