%h1 Estatísticas

%h1 Total de games: #{ number_with_delimiter @total }
%h1 Traduzidos: #{ number_with_delimiter @translated }
%h1 Traduções Revisadas: #{ number_with_delimiter @revised }
%h1 #{ @percentage }% de games traduzidos
%h1 Usuário que mais traduziu: #{ @greatest_translator.name }, #{ @count_translations } traduções