- @users.each do |user|
  #wrap
    %p.title
      = t('activerecord.attributes.game_translator/user.name')
      = ": #{ truncate user.name, length: 20 }"
    %p.title
      = t('activerecord.attributes.game_translator/user.email')
      = ": #{ truncate user.email, length: 20 }"

    = link_to t('links.stat.more'), stats_user_path(user), class: 'link'
.page_wraper
  = will_paginate @users