= render partial: 'nav'

%h1
  %span Usuários cadastrados

- unless @users.blank?
  - @users.each do |user|
    %p= user.name
    %p= user.email
    = link_to 'Editar', user_edit_path(user.id)
    = link_to 'Deletar',  user_destroy_path(user.id), method: :delete, confirm: 'Certeza?', class: 'delete'