#login
  %h1 Login 
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %dt Email
    %dd= f.email_field :email, autofocus: true, required: true

    %dt Senha
    %dd= f.password_field :password, required: true
    %dd #{ f.check_box :remember_me } Mantenha-me conectado
    
    = f.submit 'Entrar', class: 'button'