#login
  %h1 Login
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %dt= f.label :email
    %dd= f.email_field :email, autofocus: true, required: true

    %dt= f.label :password
    %dd= f.password_field :password, required: true

    %dd
      #{ f.check_box :remember_me }
      = f.label :remember_me

    = f.submit t('forms.buttons.login'), class: 'button'