- if @user.errors.size > 0
  %h2 The following errors were found:

  - for error in @user.errors.full_messages
    %ul
      %li= error

%dl
  %dt= f.label :name
  %dd= f.text_field :name, autofocus: true

  %dt= f.label :email
  %dd= f.email_field :email

  %dt= f.label :password
  %dd= f.password_field :password

  %dt= f.label :password_confirmation
  %dd= f.password_field :password_confirmation

  %dt= f.label :role
  %dt= f.collection_select :role, GameTranslator::User::ROLES, :to_s, :humanize

  = f.submit 'Cadastrar'

  = link_to 'deletar', user_destroy_path(@user.id), method: :delete, confirm: 'Certeza?' unless @user.new_record?