- if @user.errors.size > 0
  %h2 The following errors were found:

  - for error in @user.errors.full_messages
    %ul
      %li= error

%dl
  %dt= f.label :name
  %dd= f.text_field :name, autofocus: true

  %dt= f.label :email
  %dd= f.email_field :email

  - unless @user.new_record? 
    %dt= f.label :current_password
    %dd= f.password_field :current_password
  
  %dt= f.label :password
  %dd= f.password_field :password

  %dt= f.label :password_confirmation
  %dd= f.password_field :password_confirmation

  %dt= f.label :role
  %dt= f.collection_select :role, GameTranslator::User::ROLES, :to_s, :humanize
  %br
  = f.submit 'Cadastrar', class: 'button'

  = link_to 'Deletar', user_destroy_path(@user.id), method: :delete, confirm: 'Certeza?', class: 'button delete' unless @user.new_record?