#wrap
  %p.title
    = t('activerecord.attributes.game_translator/user.name')
    = ": #{ truncate user.name, length: 20 }"
  %p.title
    = t('activerecord.attributes.game_translator/user.email')
    = ": #{ truncate user.email, length: 20 }"
  %p.title
    = t('activerecord.attributes.game_translator/user.role')
    = ": #{ user.role.humanize }"

  = link_to t('links.edit'), user_edit_path(user), class: 'link'
  = link_to t('links.delete'),  user_destroy_path(user), method: :delete, confirm: t('links.confirm'), class: 'link'