#wrap
  %p.title Nome: #{ user.name }
  %p.title Email: #{ user.email }
  %p.title Função: #{ user.role.humanize }
  
  = link_to 'Editar', user_edit_path(user.id), class: 'link'
  = link_to 'Deletar',  user_destroy_path(user.id), method: :delete, confirm: 'Tem certeza?', class: 'link'