#games
  %fieldset
    %dl
      .flag= flag('pt-BR')
      %p.language Português

      %dt Nome
      %dd= f.text_field :name, disabled: true
      
      %dt Descrição Curta
      %dd= f.text_field :short_description, disabled: true
      
      %dt Descrição Longa
      %dd= f.text_area :long_description, disabled: true
      
      - if @game.wide_description.present?
        %dt Descrição Wide
        %dd= f.text_area :wide_description, disabled: true
      
      %dt Instruções
      %dd= f.text_area :instructions, disabled: true

    %dl
      .flag= flag(@sample.locale)
      %p.language= "Traduzido para #{ @sample.locale }, por #{ @review.user.name }"
      
      %dt Nome
      %dd= f.text_field "name_#{ @sample.locale }".to_sym, disabled: true
      
      %dt Descrição Curta
      %dd= f.text_field "short_description_#{ @sample.locale }".to_sym, disabled: true
      
      %dt Descrição Longa
      %dd= f.text_area "long_description_#{ @sample.locale }".to_sym, disabled: true
      
      - if @game.wide_description.present?
        %dt Descrição Wide
        %dd= f.text_area "wide_description_#{ @sample.locale }".to_sym, disabled: true
      
      %dt Instruções
      %dd= f.text_area "instructions_#{ @sample.locale }".to_sym, disabled: true

  = f.submit 'Aceitar', class: 'button', confirm: 'Certeza?'

  = f.submit 'Recusar', name: 'delete', confirm: 'Certeza?', class: 'button refuse'