%h1= t('titles.translations.all')

- @translations.each do |translation|
  #wrap
    %p.title= t('titles.review.translator', name: translation.user.name)
    %p.title= t('titles.review.game', name: translation.game.name)
    %p.title= t('titles.review.locale', locale: translation.locale)
    = link_to t('links.review.more'), review_translation_path(@review, translation), class: 'link'
= will_paginate @translations