!!!
%html
  %head
    %title Game Translator
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #nav
      .content
        %ul
          %li Game Translator
          - if can? :manage, GameTranslator::Game
            .divider
            %li= link_to 'Traduzir', game_translate_path
          - if can? :manage, GameTranslator::User
            .divider
            %li= link_to 'Usuários', user_index_path
          - if can? :manage, GameTranslator::Language
            .divider
            %li= link_to 'Idiomas', languages_path
          - if can? :manage, GameTranslator::Stat
            .divider
            %li= link_to 'Estatísticas', stats_path
          - if can? :manage, GameTranslator::Review
            .divider
            %li= link_to 'Revisões', review_path
          - if signed_in?
            = render 'layouts/nav'
    #container
      - unless flash[:error].blank?
        .error= flash[:error].html_safe
      - unless flash[:success].blank?
        .success= flash[:success].html_safe
      - unless flash[:alert].blank?
        .error= flash[:alert].html_safe
      = yield