!!!
%html
  %head
    %title Game Translator
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    #nav
      .content
        %ul
          %li Game Translator
          - if can? :manage, GameTranslator::Game
            .divider
            %li= link_to t('links.nav.translate'), game_translate_path
          - if can? :manage, GameTranslator::User
            .divider
            %li= link_to t('links.nav.users'), user_index_path
          - if can? :manage, GameTranslator::Language
            .divider
            %li= link_to t('links.nav.languages'), languages_path
          - if can? :manage, GameTranslator::Stat
            .divider
            %li= link_to t('links.nav.stats'), stats_path
          - if can? :manage, GameTranslator::Review
            .divider
            %li= link_to t('links.nav.reviews'), review_path

          - if signed_in?
            = render 'layouts/nav'

          .flags
            %li
              = link_to '/en/', title: 'English' do
                = flag('en')

            %li
              = link_to '/es/', title: 'Español' do
                = flag('es')

            %li
              = link_to '/', title: 'Português' do
                = flag('pt-BR')
    #container
      = render 'shared/flash_messages'
      = yield